<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!--配置springmvc -->
	<!--1:开始SpringMVC注解模式 -->
	<!--简化配置： -->
	<!--1）自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter -->
	<!--2）提供一些列：数据绑定，数字和日期的format @NumberFormat @DataTimeFormart，xml,json 默认读写支持。 -->
	<!-- 类型转化 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.lib.web.converter.DateConverter"></bean>
			</list>
		</property>
	</bean>

	<!-- 校验器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- hibernate校验器 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 指定校验使用的资源文件，在文件中配置校验错误信息，如果不指定则默认使用classpath下的ValidationMessages.properties -->
		<!-- <property name="validationMessageSource" ref="messageSource" /> -->
	</bean>
	<mvc:annotation-driven conversion-service="conversionService"
		validator="validator"></mvc:annotation-driven>

	<!--2.静态资源默认servlet配置 -->
	<!-- 1).加入对静态资源处理：js,gif,png 2).允许使用 "/" 做整体映射 -->
	<mvc:default-servlet-handler />
	<!-- <mvc:resources location="/resources/" mapping="/resources/**" /> -->




	<!--3：配置JSP 显示ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!--4:扫描web相关的bean -->
	<context:component-scan base-package="com.lib.web" />



	<!--拦截器 -->
	<mvc:interceptors>
		<!--多个拦截器,顺序执行 -->
		<mvc:interceptor>
			<!--/** 表示所有url 包括子url路径 -->
			<mvc:mapping path="/**" />
			<bean class="com.lib.interceptor.MainInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<!--/** 表示所有url 包括子url路径 -->
			<mvc:mapping path="/user/**" />
			<bean class="com.lib.interceptor.UserInterceptor"></bean>
		</mvc:interceptor>
		
		<mvc:interceptor>
			<!--/** 表示所有url 包括子url路径 -->
			<mvc:mapping path="/admin/**" />
			<bean class="com.lib.interceptor.AdminInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<!-- 上传配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>



</beans>
