<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.dao.ClassificationDao">

	<insert id="insertByc" parameterType="com.lib.entity.Classification">
		insert into classification
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="classificationId != null">
				classification_id,
			</if>
			<if test="classificationName != null">
				classification_name,
			</if>
			<if test="classificationPicture != null">
				classification_picture,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="parentPath != null">
				parent_path,
			</if>
			<if test="classificationBrief != null">
				classification_brief,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="classificationId != null">
				#{classificationId,jdbcType=BIGINT},
			</if>
			<if test="classificationName != null">
				#{classificationName,jdbcType=VARCHAR},
			</if>
			<if test="classificationPicture != null">
				#{classificationPicture,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="parentPath != null">
				#{parentPath,jdbcType=VARCHAR},
			</if>
			<if test="classificationBrief != null">
				#{classificationBrief,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.lib.entity.Classification">
		update classification
		<set>
			<if test="classificationName != null">
				classification_name =
				#{classificationName,jdbcType=VARCHAR},
			</if>
			<if test="classificationPicture != null">
				classification_picture =
				#{classificationPicture,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="parentPath != null">
				parent_path = #{parentPath,jdbcType=VARCHAR},
			</if>
			<if test="classificationBrief != null">
				classification_brief =
				#{classificationBrief,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where classification_id = #{classificationId,jdbcType=BIGINT}
	</update>
	<insert id="insert">
		insert into
		classification(classification_name,parent_id,parent_path)
		values(#{classificationName}, #{parentId},#{parentPath})
	</insert>

	<delete id="delete" parameterType="Long">
		delete from classification
		where classification_id=#{classificationId}
	</delete>

	<update id="modify">
		update classification set
		classification_name=#{classificationName} where
		classification_id=#{classificationId}
	</update>

	<select id="findById" parameterType="Long" resultType="Classification">
		select *
		from classification where classification_id=#{classificationId}
	</select>

	<select id="findFatherPathById" parameterType="Long" resultType="String">
		select parent_path from classification where
		classification_id=#{classificationId}
	</select>

	<select id="findOneChildById" parameterType="Long" resultType="Classification">
		select * from classification where parent_id=#{classificationId} order
		by classification_id
	</select>

	<select id="findAllChildById" parameterType="String" resultType="Classification">
		select * from classification where parent_path like
		#{classificationId} order by classification_id
	</select>

	<select id="findAllBotherById" parameterType="Long" resultType="Classification">
		select c2.* from classification c1 ,classification c2 where
		c1.classification_id=#{classificationId} and c1.parent_id=c2.parent_id
		order by classification_id
	</select>

	<select id="findFatherById" parameterType="Long" resultType="Classification">
		select * from classification where parent_id=#{classificationId}
	</select>


</mapper>