<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.dao.FileInfoDao">
	<select id="getFilesByState" resultType="com.lib.entity.FileInfo">
		select
		file_id,
		file_name, file_size, file_ext, file_user_id, file_uuid, file_path,
		file_state,
		file_class_id, file_create_time,file_brief
		from
		file_info
		where file_state = #{fileState,jdbcType=VARCHAR}
	</select>
	<select id="searchFileInfoByNameOrId" resultType="com.lib.entity.FileInfo">
		select
		file_id,
		file_name, file_size, file_ext, file_user_id, file_uuid, file_path,
		file_state,
		file_class_id, file_create_time,file_brief
		from
		file_info
		where 
		file_user_id = #{userId}  and file_id like #{searchInfo} 
		or file_user_id = #{userId} and file_name like #{searchInfo} 
		or file_state = 5  and file_id like #{searchInfo} 
		or file_state = 5 and file_name like #{searchInfo} 
		</select>


	<select id="getFilesByUserId" resultType="com.lib.dto.FileInfoVO">
		select
		file_id,
		file_name, file_size, file_ext, file_user_id, file_uuid, file_path,
		file_state,
		file_class_id,
		file_create_time,file_brief,user_name,classification_name
		from
		file_info f left join user_info u on f.file_user_id = u.user_id left
		join classification c on f.file_class_id = c.classification_id
		where f.file_name like  #{searchValue} and
		f.file_user_id = #{userId}
	</select>



	<select id="getFileInfoByUuid" resultType="com.lib.dto.FileInfoVO">
		select
		file_id,
		file_name, file_size, file_ext, file_user_id, file_uuid, file_path,
		file_state,
		file_class_id,
		file_create_time,file_brief,user_name,classification_name
		from
		file_info f left join user_info u on f.file_user_id = u.user_id left
		join classification c on f.file_class_id = c.classification_id
		where
		f.file_uuid = #{fileUuid,jdbcType=VARCHAR}
	</select>
    
    <select id="getFileInfoByFileId" resultType="com.lib.dto.FileInfoVO">
		select * from file_info where file_id = #{fileId,jdbcType=VARCHAR}
	</select>

	<update id="setFileStateByUuid">
		update file_info
		set
		file_state = #{fileState}
		where
		file_uuid = #{fileUuid}
	</update>

	<insert id="insert" parameterType="com.lib.entity.FileInfo">
		insert into file_info
		(file_name, file_size,
		file_ext, file_user_id, file_uuid,
		file_path,
		file_state, file_class_id,
		file_create_time, file_brief)
		values
		(#{fileName,jdbcType=VARCHAR},
		#{fileSize,jdbcType=BIGINT},
		#{fileExt,jdbcType=VARCHAR},
		#{fileUserId,jdbcType=BIGINT},
		#{fileUuid,jdbcType=VARCHAR},
		#{filePath,jdbcType=VARCHAR},
		#{fileState,jdbcType=INTEGER},
		#{fileClassId,jdbcType=BIGINT},
		#{fileCreateTime,jdbcType=TIMESTAMP},
		#{fileBrief,jdbcType=LONGVARCHAR})
	</insert>

	<update id="modifyFileExeById">
		update file_info set file_ext=#{fileExt} where
		file_id=#{fileId}
	</update>

	<update id="updateByUuid">
		update file_info
		<set>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
				file_size = #{fileSize,jdbcType=BIGINT},
			</if>
			<if test="fileExt != null">
				file_ext = #{fileExt,jdbcType=VARCHAR},
			</if>
			<if test="fileUserId != null">
				file_user_id = #{fileUserId,jdbcType=BIGINT},
			</if>
			<if test="fileUuid != null">
				file_uuid = #{fileUuid,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				file_path = #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="fileState != null">
				file_state = #{fileState,jdbcType=INTEGER},
			</if>
			<if test="fileClassId != null">
				file_class_id = #{fileClassId,jdbcType=BIGINT},
			</if>
			<if test="fileCreateTime != null">
				file_create_time = #{fileCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="fileBrief != null">
				file_brief = #{fileBrief,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where file_uuid = #{fileUuid,jdbcType=VARCHAR}
	</update>




</mapper>