<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.dao.UserInfoDao">

	<select id="queryById" resultType="UserInfo">
		SELECT user_id,user_name,user_password,user_type,user_email,user_photo
		FROM
		user_info
		WHERE user_id = #{userInfoId}
	</select>
	
	<select id="queryByEmail" resultType="UserInfo">
		SELECT user_id,user_name,user_password,user_type,user_email,user_photo
		FROM
		user_info
		WHERE user_email = #{userEmail}
	</select>

	<insert id="insertUserNoStatus" parameterType="UserInfo">
	    insert into user_info (user_id, user_name, user_password, 
	      user_type, user_email
	      )
	    values(#{userId},#{userName},#{userPassword},#{userType},#{userEmail})
  	</insert>
  	
  	<update id="updateUserNoStatus"  parameterType="UserInfo">
  		update user_info 
  		set user_name = #{userName},user_password=#{userPassword},
  		user_email = #{userEmail},user_type=#{userType},
  		user_photo = #{userPhoto}
  		where user_id = #{userId}
  		
  	</update>
</mapper>